@import url("./forms.css");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */

@layer components {
  .container {
    @apply max-w-[1250px] w-full px-5 xl:px-0;
  }
}

/* Remove default input password toggler for Edge & IE browser */
.remove-password-toggler::-ms-clear,
.remove-password-toggler::-ms-reveal {
  display: none;
}

/* Remove calendar icon for date input on right side  */
.remove-date-icon::-webkit-inner-spin-button,
.remove-date-icon::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Remove ring from focused inputs */
.no-ring {
  @apply focus:ring-0 focus:ring-offset-0;
}

/* Shadow for popup */
.popup-shadow {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
}
