/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tailwind */

/* Remove default input password toggler for Edge & IE browser */
.remove-password-toggler::-ms-clear,
.remove-password-toggler::-ms-reveal {
  display: none;
}

/* Remove calendar icon for date input on right side  */
.remove-date-icone::-webkit-inner-spin-button,
.remove-date-icone::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Remove ring from focused inputs */
.no-ring {
  @apply focus:ring-0 focus:ring-offset-0;
}

/* Shadow for popup */
.popup-shadow {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
}
